body{
font-family:bauhaus 93,sems-serif;
margin: 0;
padding:20px;
background-color:aliceblue
text-align:center;


}

img{
width:200px;
height:auto;
border: radius 10px;
box-shadow: 0 4px 8px;

    }
